html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
    background: var(--clr-white);
    font-family: sans-serif;
}
:root {
    --clr-white: rgb(255,255,255);
    --clr-black: rgb(0,0,0);
    --clr-accent-red-1: rgb(230, 0, 35);
    --clr-accent-red-2: rgb(173, 8, 27);
    --clr-light-grey: rgb(239, 239, 239);
    --clr-dark-grey: rgb(226, 226, 226);
    --clr-grey: rgb(90, 90, 90);
    --clr-main-title-1: rgb(185, 133, 0);
    --clr-main-title-2: rgb(154, 92, 156);
    --clr-main-title-3: rgb(0, 118, 211);
    --clr-main-title-4: rgb(112, 170, 65);
    --clr-transparent-grey: rgba(51,51,51,0.8);
}
@font-face {
    font-family: "ubuntu";
    src: url("font-ubuntu/Ubuntu-M.ttf");
}

.form-area {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--clr-transparent-grey);
    z-index: 100;
}
.forms {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 600px;
    height: 400px;
    columns: 2;
    column-gap: 40px;
    column-rule: 1px solid var(--clr-grey);
    background: var(--clr-white);
    padding: 50px;
    border-radius: 30px;
    overflow: hidden;
    border: 2px solid grey;
    box-shadow: 0px 0px 14px -5px var(--clr-black);
}
.form-1, .form-2 {
    text-align: center;
    margin-top: 20px;
}
.form-2 {
    transform: translateY(20px);
}
.header {
    font-size: 1.3rem;
    font-family: "ubuntu";
    margin: 10px;
}
.caption {
    color: var(--clr-grey);
    font-size: 0.8rem;
    font-family: "ubuntu";
    margin: 10px;
}
input {
    margin: 3px;
    padding: 12px 20px;
    border: 2px solid var(--clr-dark-grey);
    border-radius: 16px;
    width: 200px;
    height: 20px;
}
.file-input {
    margin: 3px;
    padding: 12px 20px;
    border: 2px solid var(--clr-dark-grey);
    border-radius: 16px;
    width: 200px;
    height: 20px;
}
.add-button {
    background: var(--clr-accent-red-1);
    margin: 8px;
    padding: 12px 20px;
    border: 0;
    width: 245px;
    height: 50px;
    border-radius: 30px;
    font-family: "ubuntu";
    font-size: 1rem;
    color: var(--clr-white);
    cursor: pointer;
}
.add-button:hover {
    background: var(--clr-accent-red-2);
}
.info {
    margin: 5px 0 10px 20px;
    text-align: left;
    font-size: 0.6rem;
    color: var(--clr-grey);
}
.form {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: max-content;
    background: var(--clr-white);
    padding: 50px;
    border-radius: 30px;
    overflow: hidden;
    border: 2px solid grey;
    box-shadow: 0px 0px 14px -5px var(--clr-black);
    text-align: center;
}
.update-button {
    background: var(--clr-accent-red-1);
    margin: 8px 0;
    padding: 12px 20px;
    border: 0;
    width: 245px;
    height: 50px;
    border-radius: 30px;
    font-family: "ubuntu";
    font-size: 1rem;
    color: var(--clr-white);
    cursor: pointer;
}
.update-button:hover {
    background: var(--clr-accent-red-2);
}
.back {
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translateX(160px) translateY(-100px);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    background: url("grafika/back.png");
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    z-index: 2;
}
.back2 {
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translateX(160px) translateY(-150px);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    background: url("grafika/back.png");
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    z-index: 2;
}